@media(max-width:1000px){
  .container{
    width:80%;
  }

  header{
    width:100%;
  }

  .header-right{
    display:none;
  }

  .name{
    padding-left:40px;
  }
}

@media(min-width:1000px){
  #open{
    display:none;
  }
}
 