/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





a{
  text-decoration:none;
}

header{
  display:flex;
  justify-content:space-between;
  padding-top:80px;
  width:950px;
  margin:0 auto;
}

.name{
  font-size:36px;
  font-weight:700;
}

.header-right{
  line-height:36px;
}

header ul{
  display:flex;
}

header a{
  font-size:14px;
  margin-left:60px;
  color:black;
}

header a:hover{
  text-decoration:underline;
}

.sp-menu{
  position:fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background:rgba(255,255,255,0.95);
  padding-top:180px;
  text-align:center;
  opacity:0;
  pointer-events:none;
  transition:opacity .6s;
}
.sp-menu li{
  margin-bottom:30px;
  transform:translateY(16px);
  transition:transform .3s;
  font-size:18px;
}

.sp-menu a{
  color:black;
}

.sp-menu a:hover{
  text-decoration:underline;
}

.sp-menu.show{
  opacity:1;
  pointer-events:auto;
}

.sp-menu.show li{
  opacity:1;
  transform:none;
}

#open{
  font-size:32px;
  position:absolute;
  right:40px;
  cursor:pointer;
}

#close{
  font-size:32px;
  cursor:pointer;
  position:absolute;
  right:40px;
  top:80px;
}

#open.hide{
  opacity:0;
}

.title{
  text-align:center;
  font-family: 'Lato', sans-serif;
  font-size:40px; 
  margin-top:200px;
  margin-bottom:100px;
}

.container{
  width:950px;
  margin:0 auto;
}

.myphoto{
 text-align:center;
}

.myphoto img{
  width:250px;
  border-radius:50%;
}

#about h1{
  font-size:24px;
  font-weight:bold;
  margin-top:40px;
}

#about p{
  margin-top:20px;
  line-height:1.8;
  letter-spacing:.1em;
}

#skills{
  background-color:#fafafa;
  padding-bottom:200px;
}

#skills .text{
  width:200px;
  margin:0 auto;
}

#skills p{
  font-size:22px; 
}

#works .title{
  margin-top:0;
}

#works p{
  text-align:center;
}

#contact{
  text-align:left;
  padding-bottom:200px;
  background-color:#fafafa;
}

footer ul{
  display:flex;
  padding:50px 0;
}

footer li{
  font-size:14px;
  padding-right:60px;
}

footer a{
  color:black;
}

footer li:nth-child(4){
  padding-right:0;
}

footer a:hover{
  text-decoration:underline;
}



